* {
  margin: 0;
  box-sizing: border-box;
  /* border: 1px solid black; */
  color: white;
  font-size: 30px;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: rgb(70, 68, 68);
}

.container {
  margin: 0px 25px;
  /* border:5px solid yellow */
}

.row {
  display: flex;
  height: 100px;
}
.container:first-child {
  background-color: salmon;
  padding: 5px;
  height: 10vh;
}

.container:first-child .row {
  display: flex;
  justify-content: center;
  align-content: space-around;
  gap: 1%;
  border: none;
  height: 8vh;
}

.container:nth-child(2) {
  background-color: red;
  height: 25vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container:nth-child(3) {
  background-color: greenyellow;
}
.container:nth-child(4) {
  
  margin-top: 50px;
  
}
.container:nth-child(5) {
  /* background-color: green; */
}

.container:nth-child(4) .row{
    display: flex;
    justify-content: space-around;
    /* border: 5px solid yellow; */
    
    
}

.container:nth-child(4) .row>*{
    margin: 0% 4%;
    background-color: goldenrod;

}

.container:nth-child(5) .row>*{
    background-color: green;
    margin:0% 1%
}


.col-4 {
  width: 33.333333%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  border: 1px solid black;
}

.col-8 {
  width: 66.666667%;
  background-color: cornflowerblue;
  display: flex;

  align-items: center;
  justify-content: center;
  border: 1px solid black;
}

.col-3 {
  width: 25%;
  border: 1px solid black;
}

.col-6 {
  width: 50%;
  border: 1px solid black;
}

.col-12 {
  width: 100%;
  display: flex;

  align-items: center;
  justify-content: center;
  /* border: 1px solid black; */
}

.col-2 {
  
  
  width: 16.666667%;
  border: 1px solid black;
}