* {
  box-sizing: border-box;
}

.search{
  border: 2px solid black;
  border-radius: 5px;
}

.search input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: none;
  float: left;
  width: 80%;
  background: white;
}

.search button {
  float: right;
  width: 10%;
  padding: 10px;
  background-color: white;
  color: black;
  font-size: 17px;
  border: none;
  cursor: pointer;
}


.search::after {
  content: "";
  clear: both;
  display: table;
}

.submit{
  width: 100%;
  background-color: rgba(0, 0, 0, 0.626);
  height: 50px;
margin-top: 20px;
border: 2px solid rgba(0, 0, 0, 0.626);
border-radius: 50px;
}

.submit button{
  height: 46px;
  width: 90px;
  border: 1px solid rgba(0, 0, 0, 0.626) ;
  background-color: orange;
  border-radius: 50px ;
  float: right;

}